//- mixin blocks initialize
- var blocks = {};
mixin set(key)
  - blocks[key] = this.block

//- inline side space disable
//- ex) +inline('li', 'hoge')
mixin inline(tag, name, attr)
  if name
    <#{tag} class="#{name}"!{(attr ? ' ' + attr : '')}>
  else
    <#{tag}!{(attr ? ' ' + attr : '')}>
  if block
    block
  </#{tag}>

//- section
//- ex) +section('hoge'): +set('content')
mixin section(name, tag="section", indent="          ")
  != `\n${indent}<!-- ${name}-->`
  #{tag}(id=name class=`${c}section ${c}section--${name}`)&attributes(attributes)
    - blocks = {}
    block
    //- +set('before')
    if blocks.before
      - blocks.before()
    if blocks.content
      div(class=`${c}section__outer`)
        if blocks.outerBefore
          - blocks.outerBefore()
        div(class=`${c}section__inner`)
          //- +set('content')
          - blocks.content()
        if blocks.outerAfter
          - blocks.outerAfter()
    //- +set('after')
    if blocks.after
      - blocks.after()
  != `\n${indent}<!-- /${name}-->`

mixin title(en, ja, h="h2")
  #{h}(class=`${c}title ${c}title--${h}`)&attributes(attributes)
    if block
      span(class=`${c}title__inner`)
        block
    else
      if en
        span(class=`${c}title__en`)!= en
      if ja
        span(class=`${c}title__ja`)!= ja

mixin link(href, target=false)
  a(
    class=`${c}link`
    href=href
    target=target
    rel=target && target !== self ? 'noopener' : false
  )&attributes(attributes)
    block

mixin image(src, alt="", width=false, height=false, isLazy=true)
  img(
    class=`${c}image`
    src=src
    alt=alt
    width=width
    height=height
    loading=`${isLazy ? "lazy" : "eager"}`
  )&attributes(attributes)

mixin picture(pcsrc, pcwidth, pcheight, spsrc, spwidth, spheight, alt, isLazy=true)
  - var $breakpoint = 750
  picture(class=`${c}image`)
    source(
      media=`(min-width: ${$breakpoint + 1}px)`
      srcset=pcsrc
      width=pcwidth
      height=pcheight
    )
    source(
      media=`(max-width: ${$breakpoint}px)`
      srcset=spsrc
      width=spwidth
      height=spheight
    )
    img(
      srcset=pcsrc
      width=pcwidth
      height=pcheight
      alt=alt
      loading=`${isLazy ? "lazy" : "eager"}`
    )

mixin intersection(name, tag="div")
  //- - var data = JSON.stringify({ "once": false, "process": { "inout": `${name}` } })
  - var data = JSON.stringify({ "action": `intersection-${name}` })
  #{tag}(class=`${c}intersection ${c}intersection--${name}` data-intersection=data)&attributes(attributes)
    block

mixin icon(type)
  i(class=`${c}icon ${c}icon--${type}`)&attributes(attributes)

mixin button(href, target)
  if href
    a(
      class=`${c}button`
      href=href
      target=target
    )&attributes(attributes)
      span.c-button__inner
        span.c-button__label
          block
        //- +icon('navigate-next').c-button__icon
  else
    button(class=`${c}button`)&attributes(attributes)
      span.c-button__inner
        block

mixin modal()
  div(class=`${c}modal__wrapper`)&attributes(attributes)
    div(class=`${c}modal__outer`)
      div(class=`${c}modal__background` data-modal-close)
      div(class=`${c}modal__inner`)
        div(class=`${c}modal__container`)
          div(class=`${c}modal__close ${c}modal__close--head`)
            button.close(data-modal-close)
              +icon('circle-close1')
          div(class=`${c}modal__content`)
            if block
              block
          div(class=`${c}modal__close ${c}modal__close--foot`)
            +button()(class=`${c}button--theme-2 close` data-modal-close)
              span(class=`${c}button__text`)
                | 閉じる

//- sns
//- ex) +set_sns(['twitter', 'facebook', 'line'])
mixin set_sns(btn, txt=title, url=og.url)
  ul
    - for(var i = 0; btn.length > i; i++)
      +inline('li', btn[i])
        if btn[i] == 'twitter'
          a(href="https://twitter.com/share" class="twitter-share-button" data-url=url data-text=txt) Tweet
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        if btn[i] == 'facebook'
          .fb-like(data-href=url data-layout="button" data-action="like" data-show-faces="false" data-share="false")

        if btn[i] == 'line'
          div.line-it-button(data-lang="ja" data-type="like" data-url!=url data-share="true" style="display: none;")
          script(src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer")
