doctype html

include ../_utilities/variables

html(lang!=lang dir!=dir)
  head
    include head

  body(class!=`${p}base`)
    // wrapper
    #wrapper(class!=`${p}wrapper ${p}${page_name}`)
      != '\n'

      include header
      != '\n'

      // main
      main(role!="main" class!=`${p}main`)
        article(class!=`${p}article`)
          block content
            p content
      // /main
      != '\n'

      include footer
      != '\n'

    // /wrapper

