doctype html

include ../_utilities/variables
include ../_utilities/mixins

html.no-js(lang!=lang dir!=dir)
  head
    include head

  body(class!=`${l}base`)
    // wrapper
    #wrapper(class!=`${l}wrapper ${l}${page_name}`)
      != '\n'

      include header
      != '\n'

      // main
      main(role!="main" class!=`${l}main`)
        article(class!=`${l}article`)
          block content
            p content
      // /main
      != '\n'

      include footer
      != '\n'

    // /wrapper

